* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}

body {
    color: #FFFFFF;
    background: #f4f5eb;
    font-size: 62.5%;
}

body, input, button, textarea {
    font-weight: 600;
    font-family: Nunito, sans-serif;
}